{% extends "dashboard.html" %}
{% block title %}
Appointment
{% endblock %}

{% block main %}

<div class="container pt-5">
    <div class="p-1 m-5 pt-md-2">
        <h1>Hospitals Nearby</h1>
        <p class="text-muted w-75">Get a filtered list of hospitals near you based on your active Insurance policy and user ratings of the hospitals.</p>
        <div class="container pt-5">
            {% for hospital in ratings %}
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    {% set random_image = image_urls|random %}
                    <img src="{{ random_image }}" class="card-img" alt="Image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ loop.index }}. {{ hospital.name }}</h5>
                      <div>
                        Rating: {{ hospital.ratings }}
                        {% for _ in range(hospital.ratings) %}
                          <i class="fa fa-star text-warning"></i>
                        {% endfor %}
                        {% for _ in range(5 - hospital.ratings) %}
                          <i class="fa fa-star"></i>
                        {% endfor %}
                      </div>
                      <p class="card-text">Insurance Supported: <strong>{{ hospital.accepted_insurance }}</strong></p>
                      <p class="card-text">"{{ hospital.name }}: Your trusted partner in healthcare, offering comprehensive services and compassionate care for a healthier future."</p>
                      <p><a class="btn btn-primary">Contact</a> &nbsp;&nbsp;&nbsp; <a class="btn btn-danger" href="/appointment/bookappointment/{{ hospital.id }}">Book Appointment</a></p>
                      <!-- Additional card content -->
                    </div>
                  </div>
                </div>
            </div>  
            {% endfor %}
        </div>
        </div>
    </div>




    {% endblock %}